<p id="notice"><%= notice %></p>

<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h2 class="display-3">Portfolio!</h2>
          <p>I am a 4th year Computer Science student learning about the software development process by building a Portfolio application. Portfolio! allows you to create, edit, and delete projects. To add, you can showcase your projects as they are visible to all. You simply need to login in order to edit and add new projects.</p>
          <p><a class="btn btn-info btn-sm" href="#" role="button">Learn More &raquo;</a></p>
        </div>
      </div>


<h1 class="display-4">Projects</h1>


  <table class="table">
    <thread>
    <tr>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th colspan="3"></th>
    </tr>
    </tread>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
      <tr scope="row"><td><%= project.title %></td></th>  
      <td><%= project.description %></td></th>   
      <td><button type="button" class="btn btn-outline-info btn-sm"><%= link_to 'Show', project %></button></td>
      <td><button type="button" class="btn btn-outline-info btn-sm"><%= link_to 'Edit', edit_project_path(project) %></button></td>
      <td><button type="button" class="btn btn-outline-info btn-sm"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-info btn-lg"><%= link_to 'New Project', new_project_path %></button>

